.recommenders/
.metadata
*.class
RemoteSystemsTempFiles
.DS_Store
/configurator/target/m2e-wtp/web-resources/META-INF/maven/com.itf/configurator/pom.properties
Servers
configurator/target/
*.md5
*.sha1
~$*
