RemoteSystemsTempFiles
.DS_Store
Servers
*.md5
*.sha1
~$*
bin/
*.class
.metadata/
generated/
.svn/
cnf/cache/
cnf/releaserepo/
cnf/release/
.gradle/
.sonar/
build/
sonar-runner.properties
RemoteSystemsTempFiles/.project
*/bin_test/*
.recommenders/
*/testdir/*
